.wrapper
    .autorize-btn
        a(href="#").autorize-btn__link Авторизоваться
    .content
        .content__titles.content__titles--uppercase
            h1.title Авторизация
        form.autorize-form(method="post",action="#")
            input.autorize-form__itput.autorize-form__itput--login(name="login",placeholder="Логин")
            input.autorize-form__itput.autorize-form__itput--pass(name="pass",placeholder="Пароль",type="password")

    .empty

