.wrapper
    .autorize-btn
        a(href="autorize.html").autorize-btn__link Авторизоваться
    .content

        .content__img
            img.img(src='/assets/img/ava_150.jpg', alt="Максим Никитин")
        .content__titles
            h1.title Максим Никитин
            h2.subtitle Личный сайт веб разработчика
        .content__icons
            ul.icon-list
                li.icon-list__icon
                    a.icon-list__link
                        +svg('vk','vk','icon')
                li.icon-list__icon
                    a.icon-list__link
                        +svg('github','git','icon')
                li.icon-list__icon
                    a.icon-list__link
                        +svg('link','linked','icon')
        .content__menu
            ul.menu-items
                li.menu-items__item
                    a(href="#").menu-items__link Мои работы
                li.menu-items__item
                    a(href="#").menu-items__link Обо мне
                li.menu-items__item.menu-items__item--nonebrdr
                    a(href="#").menu-items__link Блог

    .empty

