.wrapper
    .content
        .content__img
            img.img
        .content__titles
            h1.title
            h2.subtitle
        .content__icons
            ul.icon-list
                li.icon-list__icon
                    a.icon-list__link
                        +svg('in','svg','icon')
    .empty

